<div class="main-div">
    <div class="switch" (click)="changetheme()">
        <img *ngIf="offBulb" class="bulb" src="../../assets/icons/off-bulb.svg" alt="theme_switch">
        <img *ngIf="!offBulb" class="bulb" src="../../assets/icons/on-bulb.svg" alt="theme_switch">
    </div>
    <div class="image-container">
        <div class="my-image">
        </div>
        <div class="side-out1 sides">
            <div>
                <p>Software Developer</p>
            </div>
        </div>
        <div class="side-out2 sides">
            <div>
                <p>Angular</p>
            </div>
        </div>
        <div class="side-out3 sides">
            <div>
                <p>2+ Yrs</p>
            </div>
        </div>
    </div>
    <div class="name-div">
        <p class="name">MUKILAN</p>
    </div>
    <div class="about-div">
        <div class="about-text">
            <h2>About Me</h2>
            <p class="">
                A Software Engineer with 2+ years of experience in WebApp and Hybrid Mobile App development with <span (click)="urlOpen('https://angular.io/docs')"><img id="ang" src="../../assets/icons/angular.svg">ngular</span> framework and <span (click)="urlOpen('https://nodejs.org/en/about')"> Node<img id="node" src="../../assets/icons/nodejs.svg"></span>  runtime environment
             </p>
        </div>
    </div>
    <div class="obj-div">
        <div class="obj-text">
            <h2>Career Objective</h2>
            <p>
                To work in an organization which provides me with ample opportunities to make significant contributions to the growth of the organization
                along with a responsible career to enhance my skills and knowledge.
            </p>
        </div>
    </div>
    <div class="skills-div">
        <div id="skills-header">
            <h2>Skills</h2>
        </div>
        <div class="skills-body">
            <div class="skl-body-main mgb-1-5">
                <span><p>Frontend</p><p><img id="head-icons1" src="../../assets/icons/ui.svg"></p></span>
                <div class="chips">
                    <div class="chip">HTML</div><div class="chip">CSS</div><div class="chip">SCSS</div><div class="chip">Angular</div><div class="chip">TypeScript</div>
                </div>
            </div>
            <div class="skl-body-main mgb-1-5">
                <span><p>Backend</p><p><img id="head-icons2" src="../../assets/icons/backend.svg" alt=""></p></span>
                <div class="chips">
                    <div class="chip">HTML</div><div class="chip">CSS</div>
                </div>
            </div>
            <div class="skl-body-main">
                <span><p>Tools</p><p><img id="head-icons3" src="../../assets/icons/tools.svg" alt=""></p></span>
                <div class="chips">
                    <div class="chip">HTML</div><div class="chip">CSS</div>
                </div>
            </div>
        </div>
    </div>
    <div class="experience-div">
        <div id="exp-header">
            <h2>Experience</h2>
        </div>
        <div class="exp-body">
            <h3 class="education" (click)="showEdu=true"><img id="grad-cap" src="../../assets/icons/grad-cap.svg"><span [ngClass]="showEdu ? 'exp-select' : ''">Education</span>
            </h3>
            <h3 class="work" (click)="showEdu=false"><img id="work-bag" src="../../assets/icons/work-bag.svg"><span [ngClass]="!showEdu ? 'exp-select' : ''">Work</span>
            </h3>
        </div>
        <div class="exp-details">
            <ng-container *ngIf="showEdu; then education else work"></ng-container>
        </div>
    </div>
</div>



<ng-template #education>
    <div class="grid-div">
        <div>
            <h3>
                Class X 
            </h3>
            <span class="med-col">David Matriculation HSS, Chennai, India</span>
            <div class="med-col">
                2014 - 2015
            </div>
        </div>
        <div>
            <span class="dots"></span>
            <span class="v-lines"></span>
        </div>
    </div>
    <div class="grid-div">
        <div></div>
        <div>
            <span class="dots"></span>
            <span class="v-lines"></span>
        </div>
        <div>
            <h3>
                Class XII 
            </h3>
            <span class="med-col">David Matriculation HSS, Chennai, India</span>
            <div class="med-col">
                2016 - 2017
            </div>
        </div>

    </div>
    <div class="grid-div">
        <div>
            <h3>
                Electrical and Electronics Engg.
            </h3>
            <span class="med-col">Sri Sairam Institute of Technology, Chennai, India</span>
            <div class="med-col">
                2017 - 2021
            </div>
        </div>
        <div>
            <span class="dots"></span>
        </div>
    </div>
</ng-template>
<ng-template #work>
    <div class="grid-div">
        <div></div>
        <div>
            <span class="dots"></span>
            <span class="v-lines"></span>
        </div>
        <div>
            <h3>
                Graphics Designer
            </h3>
            <span class="med-col">Introis Technologies, Chennai, India</span>
            <div class="med-col">
                2021 - 2022
            </div>
        </div>

    </div>
    <div class="grid-div">
        <div>
            <h3>
                Graduate Engineering Trainee
            </h3>
            <span class="med-col">Sterling Software Pvt. Ltd., Chennai, India</span>
            <div class="med-col">
                2022 - 2023
            </div>
        </div>
        <div>
            <span class="dots"></span>
            <span class="v-lines"></span>
        </div>
    </div>
    <div class="grid-div">
        <div></div>
        <div>
            <span class="dots"></span>
        </div>
        <div>
            <h3>
                Software Engineer
            </h3>
            <span class="med-col">Sterling Software Pvt. Ltd., Chennai, India</span>
            <div class="med-col">
                2024 - Present
            </div>
        </div>

    </div>
</ng-template>