<div class="main-div">
    <div class="image-container">
        <div class="my-image">
        </div>
    </div>
    <div class="name-div">
        <p class="name">MUKILAN</p>
    </div>
    <div class="obj-div">
        <div class="obj-text">
            <h2>Career Objective</h2>
            <p>
                To work in an organization which provides me with ample opportunities to make significant contributions to the growth of the organization
                along with a responsible career to enhance my skills and knowledge.
            </p>
        </div>
    </div>
</div>