/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
    margin: 0;
}
:root {
    --mainBg: #151646;
    --bgGradient: linear-gradient(43deg, #272f55 0%, #0d0f57 46%, #282a81fc 100%);
    --fontColor: #0d0f57;
    --secondary: #f64c72;
    --grad1: #f64c72;
    --secGrad1: linear-gradient(19deg, #f64c72 0%, #ef7d96 100%);
    --grad2: #eb496c;
    --secgrad2: linear-gradient(270deg, #eb496c 0%,  #f64c72 100%);
}
